<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.frame.mapper.FixMapper">

    <resultMap id="BaseResultMap" type="com.system.frame.entity.Fix">
               <id column="fixid" property="fixid"/>
                <id column="uname" property="uname"/>
                <id column="danyuan" property="danyuan"/>
                <id column="louceng" property="louceng"/>
                <id column="fangjian" property="fangjian"/>
                <id column="phone" property="phone"/>
                <id column="info" property="info"/>
                <id column="date" property="date"/>
                <id column="state" property="state"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fixid AS "fixid", uname AS "uname", danyuan AS "danyuan", louceng AS "louceng", fangjian AS "fangjian", phone AS "phone", info AS "info", date AS "date", state AS "state"
    </sql>
    <!-- 条件查询(复用) -->
    <sql id="whereSql">
        <where>
            <trim prefixOverrides="and">
                     <if test="param.fixid != null">
                         and fixid =  #{param.fixid}
                     </if>
                      <if test="param.uname != null and param.uname != ''">
                        and uname like  concat('%',#{param.uname},'%')
                     </if>
                     <if test="param.danyuan != null and param.danyuan != ''">
                        and danyuan =  #{param.danyuan}
                     </if>
                     <if test="param.louceng != null and param.louceng != ''">
                        and louceng =  #{param.louceng}
                     </if>
                     <if test="param.fangjian != null and param.fangjian != ''">
                        and fangjian =  #{param.fangjian}
                     </if>
                     <if test="param.phone != null and param.phone != ''">
                        and phone =  #{param.phone}
                     </if>
                     <if test="param.info != null and param.info != ''">
                        and info =  #{param.info}
                     </if>
                     <if test="param.date != null and param.date != ''">
                        and date =  #{param.date}
                     </if>
                     <if test="param.state != null and param.state != ''">
                        and state =  #{param.state}
                     </if>
            </trim>
        </where>
    </sql>

    <!-- 分页查询list -->
    <select id="getPageList" resultType="com.system.frame.entity.Fix" parameterType="com.system.frame.entity.Fix">
        select
        <include refid="Base_Column_List"/>
         from fix
        <include refid="whereSql"/>
    </select>
    <!-- 获取数据列表 -->
    <select id="getList" resultType="com.system.frame.entity.Fix" parameterType="com.system.frame.entity.Fix">
        select
        <include refid="Base_Column_List"/>
        from fix
        <include refid="whereSql"/>
    </select>
    <!-- 获取获取数量 -->
    <select id="getCount" resultType="int" parameterType="com.system.frame.entity.Fix">
        select count(1)
        from fix
        <include refid="whereSql"/>
    </select>
</mapper>

